<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 配置数据源-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://cd-cdb-2x1l2uvg.sql.tencentcdb.com:63838/health"/>
        <property name="username" value="root"/>
        <property name="password" value="PYJ19990328"/>
    </bean>

    <!-- 配置数sqlSessionFactory-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
    </bean>

    <!-- 声明式事物配置-->
    <!-- 配置事物管理器-->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!-- 配置事物通知-->
    <tx:advice id="txAdvice" transaction-manager="txManager">
        <tx:attributes>
            <!--配置哪些方法使用什么样的事物，配置事物的传播特性-->
            <tx:method name="get*" read-only="true"/>
            <tx:method name="select" read-only="true"/>
            <tx:method name="search*" read-only="true"/>
            <tx:method name="insert" propagation="REQUIRED"/>
            <tx:method name="update" propagation="REQUIRED"/>
            <tx:method name="delete" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>
    <aop:config>
        <aop:pointcut id="pointcut" expression="execution(* com.Dragonist.Service.Imp.*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="pointcut"/>
    </aop:config>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="maxUploadSize" value="10000000"/>
    </bean>

    <bean id="foodMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
        <property name="mapperInterface" value="com.Dragonist.DAO.FoodMapper"/>
    </bean>
    <bean id="foodService" class="com.Dragonist.Service.Imp.FoodImp">
        <property name="foodMapper" ref="foodMapper"/>
    </bean>

    <bean id="menuMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
        <property name="mapperInterface" value="com.Dragonist.DAO.MenuMapper"/>
    </bean>
    <bean id="menuService" class="com.Dragonist.Service.Imp.MenuImp">
        <property name="menuMapper" ref="menuMapper"/>
    </bean>

    <bean id="nutritionMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
        <property name="mapperInterface" value="com.Dragonist.DAO.NutritionMapper"/>
    </bean>
    <bean id="nutritionService" class="com.Dragonist.Service.Imp.NutritionImp">
        <property name="nutritionMapper" ref="nutritionMapper"/>
    </bean>
</beans>